<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Card Game{% endblock %}</title>
    </head>
    <body>
    <h1>Bienvenue</h1>
        {% block body %}{% endblock %}
    </body>
</html>
